.partCards{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid lightgray;
    transition: box-shadow 0.3s;
 width: 297px;
 height: 400px;
 padding: 0px !important;
 margin-left: 25px;
 margin-top: 25px;
}
@media only screen and (max-width:1440px){
    .partCards
    {
        width: 245px;
    }
}
@media screen and(min-width:1441px) and (max-width:1440px){
    .partCards
    {
        width: 255px;
    }
}
.links{
    padding: 0;
    margin: 0;
}
.partCards:hover {
    box-shadow: 0px 1px 20px -7px #555;
}
.partCards:hover.partCards>div:last-child{
    background-color: #512DAB;
}
.partCards>div:first-child{
   
    width: 100%;
height: 300px;
padding: 0;
}
.partCards>div:last-child{
    overflow: hidden;
   
    padding: 0;
    transition: background-color 0.3s;
   margin: 0 !important;
    width: 100%;
    height: 101px;
    background-color: #214C94;
   
}

.partCards>div:last-child>p{
 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
    width: 90%;

    padding-top: 12px;
    margin: 0px 17px 0px 17px;
    font-size: 24px; 
    color: white;

}
.partCards>div:last-child>p:last-child{
    font-size: 24px;
    margin-top: 0;
    padding: 0;
}

