/* .first{
    height: 1670px;
} */

.bodyBanner{
    
margin-top: -130px;
margin-bottom: 50px;
 
}
.bkEffect{
    background: url('../public/uploads/down.jpg');
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bkEffect a{
    color: #000;
    text-decoration: none;
}
.bodyBanner>div{
  
   
    padding: 0px 99px;
    display: flex;
   
    flex-wrap: wrap;
    max-width: 1560px;
    margin: 0 auto;
}
.headerTitle{
    margin-top: -130px;
    width: inherit;
}
.headerTitle>h3{
    font-size: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
  
}
.headerTitle>h3>span.text{
    margin: 0 38px;
}
.quickLink{

    font-size: 24px;
    list-style: none;
    display: flex;
    width: 100%;
padding-left: 99px;
    max-width: 1560px;
    margin: 0 auto;
    margin-top: 77px;
}

.quickLink>li{
    margin-left: 7px;
}

.quickLink>li{
    font-family: MarkPro;
}