@font-face{
    src: url('../public/fonts/GilroyMedium.otf');
    font-family: MarkPro;
  }
.parentElement{
    margin-top: -100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.parentElement>.content{
    width: 787px;
}
.parentElement>.content>p{
    font-family: MarkPro;
    font-size: 24px;
    margin-top: 40px;
}
.parentElement>.content>p:first-child{
    margin-top: 0px;
}